body{
    margin: 0;
}

ul{
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.center{
    margin: 0 auto;
}

@font-face{
    font-family: "QTOptimum";
    src: url('./font/QTOptimum\ Regular.ttf');
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: url('./font/helveticaneuecyr-bold.ttf');
}

@font-face {
    font-family: "Beauty Swing Personal Use";
    src: url('./font/Beauty\ Swing.otf');
}

.mt25{
    margin-top: 25px;
}


header{
    height: 128px;
    border-bottom: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation{
    width: 750px;
    display: flex;
    justify-content: space-between;
}

.icon_box{
    width: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

nav{
    margin-left: 130px;
    margin-right: 360px;
}

.nav_text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Inter', sans-serif;
    color: black;
    text-decoration: none;
}

.grey{
    color: #979391;
}

.intro_content{
    margin: 100px auto;
    width: 80%;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.intro_left{
    margin-top: 30px;
    width: 600px;
    height: 590px;
}

.intro_main_text{
    width: 681px;
    height: 372px;  
    font-weight: 400;
    font-size: 120px;
    line-height: 103.05%;
    color: #1C2529;
    font-family: 'Beauty Swing Personal Use';
}

.intro_desc_text{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #AAAAAA;
    font-family: 'Inter';
}

.intro_right{
    width: 469.38px;
    height: 590px;
}

.intro_right_name{
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
}

.intro_coll_button{
    width: 221px;
    height: 80px;
    background: radial-gradient(43.08% 63.75% at 50% 50%, rgba(157, 184, 200, 0.5) 0%, rgba(156, 183, 199, 0) 100%) , #748E9C;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Inter';
    color: #FFFFFF;
    border: none;
    margin-right: 14px;
}

.Intro_dream_button{
    width: 253px;
    height: 80px;
    border: 2px solid #DEDEDE;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Inter';
    color: #1C2529;
}

.latest_dreams{
    margin: 0 auto;
    width: 100%;
    height: 810px;
    background-image: url('./image/ldreamback.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.latest_dreams_content{
    margin: 0 auto;
    width: 80%;
}

.charity_content{
    margin: 0 auto;
    width: 80%;
    height: 300px;
    position: relative;
}

.charity_icon{
    position: absolute;
    top: -25px;
    left: 410px;
}

.charity_desc{
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.charity_chart{
    display: flex;
    width: 1300px;
    margin-top: 20px;
}

.charity_box{
    margin-right: 42px;
    width: 900px;
    height: 97px;
    border: 2px solid #DEDEDE;
}

.charity_left{
    width: 70%;
}

.charity_full{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 680px;
    height: 97px;
    background: linear-gradient(90deg, #6C8693 -15.57%, #A7C2D3 117.18%);
}

.charity_amount{
    font-weight: 700;
    font-size: 24px;
    line-height: 103.05%;
    font-family: 'Inter';
    color: #FFFFFF;
}

.contribute_button{
    width: 255px;
    height: 97px;
    background: radial-gradient(43.08% 63.75% at 50% 50%, rgba(157, 184, 200, 0.5) 0%, rgba(156, 183, 199, 0) 100%) , #748E9C;
    font-weight: 500;
    font-size: 24px;
    line-height: 103.05%;
    font-family: 'Inter';
    color: #FFFFFF;
    border: none;
}

.dreamsex{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.mdream{
    display: flex;
    flex-direction: column;
    max-width: 390px;
    min-height: 510px;
    background-color: #FFFFFF;
}

.louvre_content{
    width: 80%;
    margin: 0 auto;
}

.page_info{
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page_name{
    font-family: 'QTOptimum';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 103.05%;
}

.page_name_decr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.page_info_box{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
    height: 70px;
    margin-right: 60%;
    margin-bottom: 100px;
    width: 80%;
}

.image_grid{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-auto-rows: 545px;
    grid-template-columns: repeat(3,400px);
    column-gap: 130px;
    row-gap: 30px;
}

.card{
    max-width: 400px;
    height: 545px;
}

.card_info{
    display: flex;
    justify-content: space-between;
}

.card_name{
    font-family: 'QTOptimum';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.last_price{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Inter', sans-serif;
}

.price{
    display: flex;
    justify-content: end;
}

.price_number{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
}

.card_author{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    font-family: 'QTOptimum';
}

.blue{
    color: #637883;
}

.check{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 316px;
    height: 80px;
    border: 1px solid #DEDEDE;
    margin-top: 100px;
}

.check_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.dream_author{
    font-family: 'QTOptimum';
    font-weight: 500;
    font-size: 15px;
    line-height: 18px; 
}


.benefits_content{
    width: 80%;
    margin: 0 auto;
}

.benefitsex{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.benef{
    max-width: 280px;
    height: 434px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ben_name{
    
    font-weight: 700;
    font-size: 20px;
    line-height: 103.05%;
    text-align: center;
    color: #476676;
    font-family: 'HelveticaNeueCyr'
}

.ben_desc{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #476676;
    font-family: 'Inter';
    text-align: center;
}

.hline{
    height: 507px;
    border-left: 1px solid #E6E6E6;
}

.kindness_content{
    width: 80%;
    margin: 0 auto;
}

.rating_name{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #476676;
    font-family: 'QTOptimum';

}

.raiting_item{
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C7DCE9;
}

.rating_left{
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 20px;
}

.rating_number{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 103.05%;
    font-family: 'QTOptimum';
    color: #1E4257;
    
}

.rating_person{
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 103.05%;
    font-family: 'QTOptimum';
    color: #1E4257;
}

.rating_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    margin-right: 37px;
}

.rating_amount{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #1E4257;
    font-family: 'Inter';
}

.raiting_item:first-child{
    background: linear-gradient(90deg, #7495A6 -2.86%, #B9D6E8 101.36%);
}

.raiting_item:nth-child(2){
    background: linear-gradient(90deg, #83A8BB -2.86%, #CEE6F4 101.36%);
}

.raiting_item:nth-child(3){
    background: linear-gradient(90deg, #A7C2D3 -2.86%, #EDF8FF 101.36%);
}

.wi190{width: 190px;}

.pl15{
    padding-left: 15px;
}

.pr15{
    padding-right: 15px;
}

.he130{
    height: 130px;
}

.mt46{
    margin-top: 46px;
}


.mr35{
    margin-right: 35px;
}

.w80per{
    width: 80%;
}

.center{
    margin: 0 auto;
}

.tcenter{
    text-align: center;
}

.partners{
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}

.partners_box{
    display: flex;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.partner{
    min-width: 200px;
    min-height: 150px;
    background-color: #748E9C;
    margin-left: 37px;
}

footer{
    height: 595px;
    background: #394348;
}

.footer_content{
    width: 80%;
    margin: 0 auto;
}

.frow{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.footer_left{
    height: 200px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email_submit_block{
    display: flex;
}

.footer_main_text{
    font-weight: 500;
    font-size: 25px;
    line-height: 103.05%;
    font-family: 'QTOptimum';
    color: #FFFFFF;
}

.footer_desc{
    width: 500px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter';
}

.footer_enter_email{
    width: 572px;
    height: 63px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    margin-right: 22px;
    box-sizing: border-box;
    padding-left: 30px;
}

.footer_enter_email::placeholder{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Inter';
    color: rgba(255, 255, 255, 0.5);
}

.mt90{
    margin-top: 90px;
}

.footer_submit_email{
    width: 168px;
    height: 63px;
    background: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #6A5843;
    font-family: 'Inter';
}

.footer_right{
    display: flex;
    flex-direction: column;
}

.footer_right_content{
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.footer_lang{
    width: 46px;
    height: 46px;
    border: 2px solid #FFFFFF;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter';
    background-color: transparent;
}

.ru{
    margin-left: 28px;
    border-color: #748F9C;
}

.footer_f{
    display: flex;
    justify-content: space-between;
}

.footer_f_left{
    justify-content: space-between;
    display: flex;
    height: 57px;
    width: 320px;
    align-items: center;
}

.footer_f_l_line{
    border-left: 1px solid #748F9C;
    height: 57.5px;
}

.footer_year{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-family: 'Inter';
    color: #9CA1A3;
}

.footer_f_right{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_f_menu{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter';
}

.awhite{
    color: #D9D9D9;
}

@media (max-width: 768px){
    .intro_right{
        display: none;
    }
    header{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    nav{
        margin: 0;
        order: 3;
    }

    .navigation{
        width: 600px;
    }

    .intro_main_text{
        font-size: 80px;
        width: 560px;
    }

    .charity_box{
        display: none;
    }


    .page_info{
        width: 100%;
    }

    .charity_desc > .page_name_decr:last-child{
        display: none;
    }

    .mdream{
        margin: 0 auto;
    }
    .mdream:nth-child(odd){
        display: none;
    }

    .image_grid{
        grid-template-columns: 400px;
    }

    .card:nth-child(1n+4){
        display: none;
    }

    .hline{
        display: none;
    }

    .benefitsex{
        flex-direction: column;
        margin: 46px auto;
        align-items: center;
    }

    .benef{
        height: 364px;
        margin-bottom: 50px;
    }

    .footer_left{
        width: 300px;

    }

    .footer_f_left{
        display: none;
    }
}